h1 {
  text-transform: uppercase;
  background: #86a8e7;
  color: #ffffff;
  margin: 0;
  padding: 10px 28px;
  font-weight: normal;
}

.todo-add {
  background: #ffffff;
  width: 100%;
  box-sizing: border-box;
  height: 50px;
  font-size: 20px;
  font-weight: 0.5px;
  padding-left: 25px;
  border: 3px solid #757575;
  color: #757575;
}

.todo-add:focus {
  background: #edf1f5;
  border: 1px solid #86a8e7;
  outline: none;
  color: #86a8e7;
}
.btn-add {
  background-color: #86a8e7;
  border: 2px solid #86a8e7;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  font-family: Bad Script;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: black;
  border: 2px solid #86a8e7;
}

.todos {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.todos li {
  background: #f7f7f7;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  font-size: 20px;
}

.todos li:nth-child(2n) {
  background: #edf1f5;
}

.todos li:hover {
  opacity: 1.0;
  margin-left: 5px;
}
